<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Preferencia del modelo principal -->
    <preference for="Webkul\Grid\Api\Data\GridInterface" type="Webkul\Grid\Model\Grid" />

    <!-- VirtualType para la tabla principal -->
    <virtualType name="Webkul\Grid\Model\ResourceModel\Grid\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">wk_grid_records</argument>
            <argument name="resourceModel" xsi:type="string">Webkul\Grid\Model\ResourceModel\Grid</argument>
            <argument name="identifierName" xsi:type="string">entity_id</argument>
            <argument name="connectionName" xsi:type="null"/>
        </arguments>
    </virtualType>

    <!-- VirtualType para la tabla clon -->
    <virtualType name="Webkul\Grid\Model\ResourceModel\Grid\CollectionClone"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">wk_grid_records_test</argument>
            <argument name="resourceModel" xsi:type="string">Webkul\Grid\Model\ResourceModel\GridClone</argument>
            <argument name="identifierName" xsi:type="string">entity_id</argument>
            <argument name="connectionName" xsi:type="null"/>
        </arguments>
    </virtualType>

    <!-- Relación de la CollectionFactory -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="grid_record_grid_list_data_source" xsi:type="string">
                    Webkul\Grid\Model\ResourceModel\Grid\Grid\Collection
                </item>
                <item name="grid_record_grid_list_clone_data_source" xsi:type="string">
                    Webkul\Grid\Model\ResourceModel\Grid\CollectionClone
                </item>
            </argument>
        </arguments>
    </type>

    <!-- Logger (opcional) -->
    <type name="Webkul\Grid\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Webkul\Grid\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">customLogHandler</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Webkul\Grid\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

</config>
